@import url('https://fonts.googleapis.com/css?family=Pattaya&display=swap');
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../img/background.jpg');
    background-size: 80%;
}
.header {
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #ff3cac 50%, #ff0000 100%);
    border: 1px solid #FF3CAC;
    border-radius: 5px;
    height: 60px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav{
}
nav ul li{
    list-style: none;
    display: inline-block;
    justify-content: center;
}
nav ul li a{
    text-decoration: none;
    margin: 10px;
    color: white;
    font-size: 20px;
    font-family: "Pattaya";
    transition: 1s;
}
nav ul li a:hover{
    padding: 5px 15px;
    background-color: #428df5;
    border-radius: 20px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*CARD*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.b-popup-content{
    visibility: hidden;
    text-align: center;
}
.card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    margin: 30px;
    transition: 1s;
    border: 2px solid white;
    background-color: white;
    /*animation: motion 3s infinite;*/
}
.container{
    width: auto;
    margin: 10px;
    justify-content: center;
}

img {
    border-radius: 5px 5px 5px 5px;
    height: 150px;
    margin: 20px -20px 20px 50px;
}
.card:hover{
    animation: motion 3s infinite;
    transform: scale(1.05);
}
.container:hover .b-popup-content{
    transition: 1s;
    visibility: visible;
    margin:40px auto 0px auto;
    width:100px;
    height: 40px;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}
@media(max-width: 1000px){
    .card{
        width: 400px;
    }
    img{
        width: 300px;
        margin: 20px 20px 50px 20px;
    }
    .header{
        width:800px;
        text-align: center;
    }
    nav ul li a{
        font-size: 18px;
    }
    body{
        background-size: 120%;
    }
    footer img{
        width: 60px;
    }

}
@media(min-width: 1200px){
    .card{
        width: 1200px;
    }
    .header{
        width: 1200px;
    }
}
@keyframes motion {
    0%{
        border-color: deeppink;
    }
    20%{
        border-color: rebeccapurple;
    }
    40%{
        border-color: yellow;
    }
    60%{

    }
    80%{
        border-color: blue;
    }
    100%{
        border-color: deeppink;
    }
}
footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: 1s;
    padding: 25px;
    margin: -1px;
}
footer img{
    margin: 15px;
    height: 60px;
    transition: 1s;
}
footer img:hover{
    transform: scale(1.1);
}